@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:wght@400;800&display=swap');

/* Color Variables */
$graphite: #3b3b3b;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    transition: all 0.16s ease-in-out;
    color: $graphite;
}

#root {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body{
    margin: 0;
    width: 100%;
    margin: 0;
}

/* General  Styling */
section{
    width: auto;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.menu_item {
    width: 100%;
	justify-content: center;
	display: flex;
	margin: auto;
	flex: 1;
	align-items: center;
	font-size: 2.5vmin;
    height: 100%;
	&:hover {
		cursor: pointer;
		background: rgba(209, 201, 196, 0.363);
	}
}
#side-menu{
    font-weight: 600;
    z-index: 2;
    padding: 2%;
    position: fixed;
    top: 0;
    right: 0;
    height: 20vh;
    text-align: center;
    cursor: pointer;
    color: white;
    transition: color 0s;
    .menu_item{
        visibility: hidden;
        font-size: 1.5rem;
        height: auto;
        opacity: 0;
        transition: color 0s;
    } 
    &:hover{
    background-color: rgba(167, 167, 167, 0.466);
    color: $graphite;
        .menu_item{
            visibility: visible;
            opacity: 1;
        };
    }
}
h1{
    font-size: 3rem;
    margin: 0;
    padding: 5%;
    padding-bottom: 0%;
    padding-top: 10%;
    color: $graphite;
}
.custom-button{
    button{
    color: $graphite;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    border-radius: 15px;
    height: 40px;
    width: auto;
    padding: 15px;
    /* border-radius: 0; */
    &:focus-within, &:hover {
    background-color: rgba(14, 14, 14, 0.89);
    color: white;
    }
    }
}

/* Hero */
header#HERO{
    height: 100vh;
    display: flex;
    justify-content: center;
}
.hero-logo{
    height: 20vmin;
}
#video-overlay{
    width: 100%;
    text-align: center;
    min-height: 100%;
    z-index: 2;
    position: absolute;
    background: url(/img/diagonal-noise-2.png) repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
video#videoHero{
    min-height: 100%;
    max-height: 100vh;
    width: auto;
    z-index: 0;
}

/* Section Specific Styling */
section#PORTFOLIO{
    width: auto;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5%;
    .portfolio-toggle{
        padding: 3%;
        width: 80%;
        display: flex;
        justify-content: center;
        }
    #portfolio-cards-container{
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
        width: 80%;
        height: 100%;
        justify-content: center;
        .youtube-video-container{
            height: 100%;
            width: 100%;
        }
        .video-hover-container{
            position: relative;
            min-width: 100%;
            cursor: pointer;
            &:hover .hover-overlay{
                opacity: 0;
            }
        }
        .hover-overlay{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            transition: all 0.314159265s ease-in-out;
            p{
                font-size: 1.2rem;
                text-align: center;
                font-family: "Poppins", sans-serif;
                color: rgb(255, 255, 255);
                width: 100%;
            }
        }
        video{
            display: flex;
            width: 100%;
            object-fit:cover;
            z-index: 0;
            align-self: center;
        }
        h2 {
            height: 290px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
section#ABOUT{
    .mobile-text {
        display: none; // Show on mobile
    }
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    
    h1{
        padding-top: 5%;
        padding-bottom: 4%;
    }
    #about-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 70%;
        border: solid 2px #3b3b3b;
        height: 100vh;
        border-radius: 10px;
    }
    #about-photo{
        width: 51%;
        height: 100%;
        object-fit: cover;
    }
    #about-wrapper{
        position: relative;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 1.3rem;
        color: $graphite;
        width: 50%;
        align-items: center;
        button{
            position: absolute;
            bottom: 0;
            font-weight: 800;
            justify-self: flex-end;
            border-bottom-right-radius: 7px;
            font-size: 1rem;
            height:  80px;
            width: 100%;
            background-color: rgba(255, 255, 255, 0);
            border: none;
            &:hover{
                cursor: pointer;
                background-color: rgb(68, 68, 68);
                color: white;
            }
        }
        p{
            padding: 5%;
        }
    }
}
section#CONTACT{
    height: 70vh;
    align-items: center;
    justify-content: center;
    p.contact-field{
        display: flex;
        flex-direction: row;
        width: 20%;
        justify-content: center;
        text-align: center;
        font-size: 1.2rem;
    }
    svg{
        width: 40%;
        height: 100%;
        margin: 7%;
        cursor: pointer;
    }
}

/* Specific Styling */
.Card{
    height: 300px;
    width: 400px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    min-width: 250px;
}
.Card:hover{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

/* Media Queries */

@media screen and (min-aspect-ratio: 16/9) {
    video#videoHero{
        width: 100%;
        height: auto;
        align-self: center;
        display: flex;
        object-fit: cover;
        }
  }

// smaller than 1600px
@media (max-width: 1600px) {
section#ABOUT{
    #about-container{
        flex-direction: column;
        height: 120vh;
        flex-wrap: nowrap;
    }
    #about-photo{
        width: 100%;
        height: 50%;
        overflow: hidden;
    }
    #about-wrapper{
        width: 100%;
        height: 60%;
        font-size: 1.1rem;
    }
  }
}

@media (max-width: 1200px) {
    section#ABOUT{
        .desktop-text {
            display: none; // Hide on mobile
        }
        .mobile-text {
            display: inline; // Show on mobile
        }
    }

    
    section#PORTFOLIO{
        .portfolio-toggle{
            padding: 3% 0 0 0;
            width: 100%;
            .buttonToggleGroup{
                width: 100%;
                justify-content: center;
                button{
                    width: auto;
                    height: 110%;
                    border-radius: 0;
                    font-size: 2.5vw;
                &:focus-within, &:hover {
                    background-color: rgba(14, 14, 14, 0.89);
                    color: white;
                    }
                }
            }
        }
    }
    
}

